.header {
    padding: 17px 0;
    border-bottom: 1px solid #c3c9c3;
}

.header-row {
    display: flex;
    align-items: center;
}

.header-nav {
    font-weight: 500;
    color: #292929;
    margin-left: 172px;

}

.header-nav ul {
    display: flex;
    list-style: none;
}

/*.header-nav li:not(:last-child){*/
/*margin-right: 70px;*/
/*}*/

.header-nav li + li {
    margin-left: 70px;
}

.header-nav a {
    transition: color 0.2s ease;
}

.header-nav a:hover {
    color: #01996D;
}

.header-login {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-login > * + * {
    margin-left: 35px;
}

.header-login-link {
    color: black;
    transition: 0.2s ease;
}

.header-login-link :hover {
    color: #01996D;
}
